@font-face
	font-family 'iconfont'
	src url( "../fonts/iconfont.woff" ) format('woff')
	font-weight normal
	font-style normal

icon($icon)
	font-family "iconfont"
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	font-style normal
	font-variant normal
	font-weight normal
	speak none
	text-decoration none
	text-transform none
	content $icon

$i-arrow-right= "\EA01"
$i-bell= "\EA02"
$i-bill= "\EA03"
$i-briefcase= "\EA04"
$i-bugle= "\EA05"
$i-calendar= "\EA06"
$i-calendar_grid= "\EA07"
$i-camera= "\EA08"
$i-cancel-o= "\EA09"
$i-cancel= "\EA0A"
$i-card_inserting= "\EA0B"
$i-change_user= "\EA0C"
$i-check-o= "\EA0D"
$i-check-square-o= "\EA0E"
$i-check-square= "\EA0F"
$i-check= "\EA10"
$i-checked_user= "\EA11"
$i-chevron-down= "\EA12"
$i-chevron-up= "\EA13"
$i-clock= "\EA14"
$i-cloud-upload= "\EA15"
$i-cog= "\EA16"
$i-combo= "\EA17"
$i-comments-o= "\EA18"
$i-comments= "\EA19"
$i-conference= "\EA1A"
$i-conference_call= "\EA1B"
$i-date_to= "\EA1C"
$i-diploma= "\EA1D"
$i-document= "\EA1E"
$i-edit_property= "\EA1F"
$i-edit_user= "\EA20"
$i-envelope-o= "\EA21"
$i-envelope= "\EA22"
$i-eye= "\EA23"
$i-facebook= "\EA24"
$i-file= "\EA25"
$i-filter= "\EA26"
$i-frame= "\EA27"
$i-generic_text= "\EA28"
$i-geo-fence= "\EA29"
$i-globe= "\EA2A"
$i-google= "\EA2B"
$i-google_images= "\EA2C"
$i-google_mobile= "\EA2D"
$i-gplus= "\EA2E"
