@font-face
	font-family 'iconfont'
	src url( "<%= fontPath %><%= fontName %>.woff" ) format('woff')
	font-weight normal
	font-style normal

icon($icon)
	font-family "<%= fontName %>"
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	font-style normal
	font-variant normal
	font-weight normal
	speak none
	text-decoration none
	text-transform none
	content $icon

<% _.each(glyphs, function(glyph) {
		%>$i-<%= glyph.name %>= "\<%= glyph.codepoint %>"
<% }); %>
